---
import Layout from "../../layouts/Layout.astro";
import GameComponent from "../../components/game/Game.tsx";
import Navbar from "../../components/Navbar.astro";
import { levels } from "../../constants";
import type { GetStaticPaths } from "astro";

// Maps all the levels in the levels constants file to different routes.
// Additionally, passes along information to the game component.
export const getStaticPaths = (() => {
    return levels.map(
        ({ slug, name, borderStyle, seconds, displaySeconds, setCount }) => ({
            params: { slug: slug },
            props: { name, borderStyle, seconds, displaySeconds, setCount },
        }),
    );
}) satisfies GetStaticPaths;
---

<Layout title={`Play ${Astro.props.name}`}>
    <div class={`h-full m-0 p-0 ${Astro.props.borderStyle}`}>
        <Navbar />
        <main class="h-full m-0 p-0">
            <GameComponent
                borderStyle={Astro.props.borderStyle}
                slug={Astro.params.slug.toString()}
                name={Astro.props.name}
                timeAmount={Astro.props.seconds}
                timeDisplay={Astro.props.displaySeconds}
                setCount={Astro.props.setCount}
                client:load
            />
        </main>
    </div>
</Layout>
